<head>

  <title>PulpFACtion - {{title}}</title>
</head>

<body>
    {{> header}}

    <!-- Book details -->
    <h1> book details </h1>
      <table>
        <tr>
          <td> title </td>
          <td> author </td>
          <td> ISBN </td>
          <td> Genre </td>
        </tr>
        <tr>
          <td> {{book.title}}</td>
          <td> {{book.author}}</td>
          <td> {{book.isbn}}</td>
          <td> {{book.genre}}</td>
        </tr>
      </table>
      <!-- Reserve button -->
      {{#if book.reserved}}
        <button id="reserve-btn" class="reserve-btn" value={{book.id}} disabled>Unavailable</button>
      {{else}}
        <button id="reserve-btn" class="reserve-btn" value={{book.id}}>reserve</button>
      {{/if}}

    {{> footer}}

    <script src="/singleBook.js" type="text/javascript"></script>
</body>
